body {
  font-family: 'Righteous', cursive;
}

/************* NAVBAR *************/

.navbar {
  height: 90px;
  background-color: #7ba650;
}

.navbar .navbar-brand {
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.navbar .nav-link {
  color: white;
}

#navbarSupportedContent ul {
  margin-left: auto;
}

#navbarSupportedContent li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

#navbarSupportedContent a:hover {
  text-decoration: underline;
}

/*********** LOGIN/LOGOUT ***********/

#loginContainer {
  text-align: center;
  background-image: url('./images/sportsbook.png');
  background-size: cover;
  height: 600px;
}

#loginInput {
  color: white;
  padding: 10%;
}

#submitLogin {
  margin-top: 15px;
  background-color: #7ba650;
  color: white
}

#submitLogout {
  margin-top: 200px
}

/********** ACCOUNT DETAILS **********/

.AccountContainer {
  background-color: #f7eacd;
  height: 600px;
  text-align: center;
  padding-top: 50px
}

#units {
  color: #7ba650;
}


.gameList {
  float: left;
}

.betInfo {
  float: right;
}

.ticketInfo {
  clear: right;
  float: right;
}
